.header__logo {
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 899px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 623px) {
    .header__logo {
        width: 103px;
        height: 24px;
    }
} 