.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid white;
    background-color: black;
    outline: none;
    background-image: url(../../../images/Vector+.svg);
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    margin-left: auto;
}

.profile__add-button:hover {
    opacity: 0.6;
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 899px) {
    .profile__add-button {
        margin-left: 0;
        margin-top: 36px;
    }
} 

@media screen and (max-width: 623px) {
    .profile__add-button {
        width: 282px;
        background-size: 16px 16px;
    }
}