.header {
    max-width: 880px;
    min-height: 74px;
    border-bottom: solid 1px rgb(84,84,84, .7);
    margin: 45px auto 40px;
}

@media screen and (max-width: 1023px) {
    .header {
        max-width: 100%;
        margin: 45px 19px 40px;
    }
} 

@media screen and (max-width: 623px) {
    .header {
        min-height: 56px;
        margin: 28px 0 42px;
    }
} 